.preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 99999;
  overflow: hidden;
  background: $white-color;
  &-arc {
    --size: 6.4rem;
    @include size(var(--size));
    border: 6px solid $primary-color;
    border-color: $primary-color transparent transparent transparent;
    border-radius: 50%;
    position: absolute;
    top: calc(50% - var(--size) / 2);
    left: calc(50% - var(--size) / 2);
    animation: animate-preloader 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    animation-delay: calc(-0.15s * var(--value));
  }
}

@keyframes animate-preloader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
