.preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 99999;
  overflow: hidden;
  background: $white-color;
  &::before {
    --size: 6rem;
    content: "";
    @include size(var(--size));
    position: fixed;
    top: calc(50% - var(--size) / 2);
    left: calc(50% - var(--size) / 2);
    border: 6px solid $primary-color;
    border-top-color: $border-color;
    border-radius: 50%;
    animation: animate-preloader 1s linear infinite;
  }
}

@keyframes animate-preloader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
