// Colors
$primary-color: #e8bf5d;
$black-color: #111111;
$white-color: #ffffff;
$text-color: #666666;
$text-light-color: #b9b9b9;
$number-color: #f3f3f3;
$number-dark-color: #1d1d1d;
$border-color: #d6d6d6;
$box-shadow-color: #68562a;

//Fonts
$primary-font: "Open Sans", sans-serif;
$secondary-font: "Playfair Display", serif;

// Layout
$wrapper: 1920px;
$container: 1170px;
$container-padding-x: 15px;
$container-padding-right: 70px;
