section.about#about
  .container.container-pr
    +sectionHeader({
      modifierClass: "section-header-primary",
      title: "About us",
      desc: "We are regarded as industry leaders in stunning website solutions, focused on delivering unsurpassed user    experiences.",
      number: "01",
    })
    .about-content
      .about-history
        .about-title History
        ul.about-history-list
          +aboutHistoryItem({ year: "2016", desc: "In hac habitasse platea dictumst Nunc ultricies iaculis luctus Aliquam eget eros eget sapien dictum."})
          +aboutHistoryItem({ year: "2015", desc: "Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor."})
          +aboutHistoryItem({ year: "2014", desc: "In hac habitasse platea dictumst Nunc ultricies iaculis luctus Aliquam eget eros eget sapien."})
      .about-expertise
        .about-title Expertise
        .about-expertise-text Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem.Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt.