section.attorney#attorney
  .container
    +sectionHeader({
      modifierClass: "section-header-primary",
      title: "Meet Our Attorney",
      desc: "We are regarded as industry leaders in stunning website solutions, focused on delivering unsurpassed user    experiences.",
      number: "03"
    })
    ul.attorney-list
      +attorneyItem({
        src: "./images/img-attorney1.png",
        name: "adam suarez",
        job: "attorney general",
      })
      +attorneyItem({
        src: "./images/img-attorney2.png",
        name: "lina suarez",
        job: "attorney general",
      })
      +attorneyItem({
        src: "./images/img-attorney3.png",
        name: "jems snow",
        job: "attorney general",
      })
      +attorneyItem({
        src: "./images/img-attorney4.png",
        name: "linister white",
        job: "attorney general",
      })