section.faq#faq
  .container.container-pr
    +sectionHeader({
      modifierClass: "section-header-secondary",
      title: "Frequently asked questions",
      desc: "We are regarded as industry leaders in stunning website solutions, focused on delivering unsurpassed user    experiences.",
      number: "06"
    })
    .faq-content
      .faq-left
        .faq-left-list
          +faqLeftItem({
            question: "What paperwork do I need to complete to file for divorce?",
            answer: "Long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. "
          })
          +faqLeftItem({
            question: "How do I change my custody and support orders?",
            answer: "Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur, architecto, voluptatibus tenetur repellat recusandae molestiae quam maxime labore cupiditate ad aut nam neque impedit quia et ullam veritatis aliquam blanditiis! 2"
          })
          +faqLeftItem({
            question: "How to make a General Diary?",
            answer: "Long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. 3"
          })
          +faqLeftItem({
            question: "What paperwork do I need to complete to file for divorce?",
            answer: "Long established fact that a reader will be distracted by the readable content of a page when looking at its layout."
          })
          +faqLeftItem({
            question: "How do I protect a business name?",
            answer: "Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae, repellendus libero rerum dignissimos incidunt beatae molestiae sint odio quod sunt laboriosam vel tempore alias enim! Perspiciatis dolores delectus odio tempore."
          })
          +faqLeftItem({
            question: "Should I incorporate my business?",
            answer: "Long established fact that a reader will be distracted by the readable content of a page when looking at its layout."
          })
      .faq-right
        p.faq-right-text
