footer.footer
  .container.container-pr
    .footer-inner
      p.footer-copyright Copyright &copy; 
        a.footer-copyright-link(href="#") Symu.co
      ul.footer-social
        +footerSocialItem({
          iconClass: "fa-facebook-f"
        })
        +footerSocialItem({
          iconClass: "fa-twitter"
        })
        +footerSocialItem({
          iconClass: "fa-google-plus-g"
        })
        +footerSocialItem({
          iconClass: "fa-instagram"
        })