section.hero
  .container
    .hero-inner
      .hero-info(data-aos="fade-left")
        span.hero-name(data-aos="fade-left" data-aos-delay="200") Adam Suarez
        span.hero-job(data-aos="fade-left" data-aos-delay="300") Lawyer
      a.btn.btn-primary(href="#" data-aos="fade-up" data-aos-delay="400") contact me 