section.practice#practice
  .container.container-pr
    +sectionHeader({
      modifierClass: "section-header-secondary",
      title: "Practice Area",
      desc: "We are regarded as industry leaders in stunning website solutions, focused on delivering unsurpassed user experiences.",
      number: "02"
    })
    .practice-content
      ul.practice-list
        +practiceItem({
          title: "Private Client Service",
          desc: "Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam.",
          src: "./images/img-practice-icon1.png"
        })
        +practiceItem({
          title: "LABOUR AND EMPLOYMENT",
          desc: "Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam.",
          src: "./images/img-practice-icon2.png"
        })
        +practiceItem({
          title: "Cyber Sequre",
          desc: "Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam.",
          src: "./images/img-practice-icon3.png"
        })
        +practiceItem({
          title: "Real Estate",
          desc: "Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam.",
          src: "./images/img-practice-icon4.png"
        })