section.publication#publication
  .container
    +sectionHeader({
      modifierClass: "section-header-primary",
      title: "Recent Publications",
      desc: "We are regarded as industry leaders in stunning website solutions, focused on delivering unsurpassed user    experiences.",
      number: "05"
    })
    ul.publication-list
      +publicationItem({
        src: "./images/img-publication1.png",
        title: "Publication Title",
        author: "Adam Suarez",
        date: "12 Nov 2015",
        desc: "Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum."
      })
        +publicationMeta({})
      +publicationItem({
        src: "./images/img-publication2.png",
        title: "Publication Title",
        author: "Adam Suarez",
        date: "12 Nov 2015",
        desc: "Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum."
      })
        +publicationMeta({})
      +publicationItem({
        src: "./images/img-publication3.png",
        title: "Publication Title",
        author: "Adam Suarez",
        date: "12 Nov 2015",
        desc: "Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum."
      })
        +publicationMeta({})

