extends layout/layout

block vars
	- title = 'Welcome to ADVOCATUS'
	- bodyClass = 'home-page'

block main
	include ./blocks/hero
	include ./blocks/about
	include ./blocks/practice
	include ./blocks/attorney
	include ./blocks/client
	include ./blocks/publication
	include ./blocks/faq
	include ./blocks/contact

block layer
	include ./layers/to_top
	include ./layers/preloader